@use 'reset';
@use 'variables';
@use 'utils';
@use './blocks/organisms/header';
@use './blocks/organisms/footer';
@use './blocks/organisms/main';

body {
  font-weight: 400;
  font-family: Inter, sans-serif;
  background-color: var(--color-primary);
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
body::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 8px;
}

.no-scroll {
  overflow: hidden;
}

.no-scroll .categories a {
  pointer-events: none;
}


.no-scroll .masonry__item {
  pointer-events: none;
}

